.navigation {
	@apply mt-[70px] w-full;

	&_item {
		@apply mx-auto flex py-[25px];
		border-right: 6px solid transparent;
		transition: .3s ease;
		cursor:pointer;
		&:hover{
			background-color: rgba(97, 45, 209, 0.90); 
}
		}
					
	&_link {
		@apply flex justify-center w-full;
	}
	&_active{
		border-color: #F3B559;
		background-color: rgba(97, 45, 209, 0.90); 
	}
}
