@tailwind base;
@tailwind components;
@tailwind utilities;

body:not(.chakra-ui-light) {
	color: #000;
	background: #eff6fc;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
#__next {
	min-height: 100vh;
	display: flex;
	align-items: center;
}
